.Normal_text {font-family:Arial;font-weight:bold;font-style:normal;font-size:13.78pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0em;}
.Small_text {font-family:Arial;font-weight:bold;font-style:normal;font-size:13.28pt;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0em;}
